//
// Table
//

// General styles

.table {
  thead th {
    padding-top: $table-head-spacer-y;
    padding-bottom: $table-head-spacer-y;
    font-size: $table-head-font-size;
    text-transform: $table-head-text-transform;
    letter-spacing: $table-head-letter-spacing;
    border-bottom: $table-border-width solid $table-border-color;
  }

  th {
    font-weight: $table-head-font-weight;
  }

  td {
    .progress {
      height: 3px;
      width: 120px;
      margin: 0;
    }
  }

  td,
  th {
    font-size: $table-body-font-size;
    white-space: nowrap;
  }

  // Vetical align table content

  &.align-items-center {
    td,
    th {
      vertical-align: middle;
    }
  }

  // Styles for dark table

  .thead-dark {
    th {
      background-color: $table-dark-head-bg;
      color: $table-dark-head-color;
    }
  }

  // Styles for light table

  .thead-light {
    th {
      background-color: $table-head-bg;
      color: $table-head-color;
    }
  }
}

// Add transition for hover state

.table-hover {
  tr {
    @include transition($transition-base);
  }
}

// Flush tables

.table-flush {
  td,
  th {
    border-left: 0;
    border-right: 0;
  }

  tbody {
    tr {
      &:first-child {
        td,
        th {
          border-top: 0;
        }
      }

      &:last-child {
        td,
        th {
          border-bottom: 0;
        }
      }
    }
  }
}

// Tables inside cards

.card {
  .table {
    margin-bottom: 0;

    td,
    th {
      padding-left: $card-spacer-x;
      padding-right: $card-spacer-x;
    }
  }
}

.table .thead-light th {
  background-color: #12017b !important;
  color: #ffffff !important;
}

.table thead th {
  font-size: 0.75rem !important;
}

.badge-dot i {
  display: inline-block;
  vertical-align: middle;
  width: 0.675rem;
  height: 0.675rem;
  border-radius: 50%;
  margin-right: 0.375rem;
}

.table .badge {
  text-transform: uppercase;
  font-size: 11px;
}

.table-flush tbody tr:first-child td,
.table-flush tbody tr:first-child th {
  border-top: 0;
  font-weight: 600;
}

.card .table td,
.card .table th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 600;
}

.table-fillter-icon {
  color: #12017b;
  font-size: 15px;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  color: #5e72e7;
}

/* custom css */
.ServiceReport-imgcard {
  width: 270px;
  height: 250px;
  border-radius: 3%;
  overflow: hidden;
  box-shadow: 2px 2px 7px #dedede;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ServiceReport-imgcard img {
  width: 270px;
  height: 250px;
}

.licence-plate {
  text-align: center;
  padding: 0.7rem;
  margin: 2rem 0rem;
  background: #12017b;
  color: #fff;
  border-radius: 5px;
  background: #da4453; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.licence-plate h4 {
  color: #fff;
  padding: 0;
  margin: auto;
  font-size: 21px;
}

.list-group-item {
  display: flex;
}

.list-group-item h5 {
  margin: auto;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
}

.list-group-item span {
  font-size: 14px;
  color: #909090;
  font-weight: 600;
}

.licence-plate-userDetails {
  margin: 0;
  padding: 0;
  list-style: none;
}
.licence-plate-userDetails li {
  display: flow-root;
  margin-bottom: 1.5rem;
}

.licence-plate-userDetails h5 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  float: right;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  color: #32325d;
}

.licence-plate-userDetails span {
  font-size: 14px;
  color: #909090;
  font-weight: 600;
}

.Vehicle-Service-list {
  list-style: decimal;
  margin: 0;
}

.Vehicle-Service-list li {
  font-size: 16px;
  font-weight: 600;
  color: #172b4d;
  margin-bottom: 0.7rem;
}

.Vehicle-Service-plantype span {
  font-size: 16px;
  font-weight: 600;
  color: #172b4d;
  padding-left: 25px;
  margin: 0;
  padding-top: 4px;
}
.item-middle {
  display: flex;
  align-items: center;
}

.item-middle-service-date {
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: inherit !important;
}

.ReactTable {
  position: relative;
  display: inherit !important;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 0rem !important;
}
form .form-group {
  margin-bottom: 1.5rem !important;
}

.ReactTable .rt-thead .rt-resizable-header {
  overflow: visible;
  text-align: center;
  background: #1c2857;
  color: #fff;
  padding: 0.7rem !important;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.ReactTable .-pagination .-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 3px;
  padding: 6px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.6) !important;
  background: rgb(28, 40, 87) !important;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
  outline-width: 0;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: rgb(28, 40, 87) !important;
  color: #fff;
}

// .form-control {
//   display: block;
//   width: 100%;
//   height: calc(2.75rem + 2px);
//   padding: 0.625rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.5;
//   color: #8898aa !important;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #e1e2e2;
//   border-radius: 2.375rem;
//   box-shadow: none;
//   height: 47px !important;
//   -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
//   transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
// }

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #182249;
  font-size: 14px;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  border: 1px solid rgba(136, 136, 136, 0.22) !important;
  background: #fff;
  padding: 7px 7px !important;
  font-size: inherit;
  border-radius: 0px;
  font-weight: normal;
  outline-width: 0;
  color: #8a8a8a !important;
}

.ReactTable .-pagination .-pageInfo {
  display: inline-block;
  margin: 3px 10px;
  white-space: nowrap;
  color: #bbb !important;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 0 solid #e9ecef;
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
  background: #5e72e4;
  /* color: #fff; */
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.1;
  font-size: 19px;
  color: #fff;
  text-align: center;
  align-items: center;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.02);
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}
.color-danger {
  color: #f5365c !important;
}

.color-success {
  color: #2dce89 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.ReactTable .-pagination .-center {
  flex: auto !important;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.nowrap {
  white-space: nowrap;
}

.myform .form-group {
  margin-bottom: 0rem !important;
  margin-right: 1rem;
}
// 404

#notfound {
  position: relative;
  height: 62vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1 > span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

.l {
  width: 75%;
  float: left;
}
.r {
  width: 20%;
  float: left;
}
.login-title {
  color: #5e72e4;
  font-weight: 700;
  font-size: 30px;
}

.licenceplate-pdf-right-value {
  margin: auto;
  padding: 0 2rem;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: #32325d !important;
}

.list-group-item {
  display: block !important;
}
.footer {
  background: #c6ceff !important;
  padding: 1rem 0 !important;
  margin-top: 2rem;
}
.footer .copyright {
  font-size: 0.875rem;
  text-align: center !important;
}

.card-header {
  padding: 0.7rem 0.5rem !important;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 7px 10px !important;
}

.style {
  padding: 1rem;
  box-shadow: 0 0 10px #c3c3c3;
  margin-bottom: 1rem;
}

.licence-list-badge {
  width: 65px;
  font-size: 14px;
}

.badge-success {
  color: #1aae6f !important;
  background-color: rgba(147, 231, 195, 0.5);
}

.badge-warning {
  color: #ff3709 !important;
  background-color: rgba(254, 201, 189, 0.5);
}
.badge {
  display: inline-block;
  padding: 0.35rem 0.375rem;
  font-size: 66% !important;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}

.map-view {
  min-height: 200px !important;
  max-height: 200px !important;
  height: 200px !important;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ReactTable .rt-table {
  overflow-x: hidden !important;
}
.ReactTable .-pagination {
  flex-wrap: nowrap !important;
}
.ReactTable .-pagination .-center {
  flex-wrap: nowrap !important;
}
.ReactTable .-pagination .-pageJump input {
  width: 50px !important;
  text-align: center;
}

.ReactTable .-pagination input,
.ReactTable .-pagination select {
  width: 90px !important;
}
.ReactTable .-pagination .-pageSizeOptions {
  margin: 0px 0px !important;
}

.licence-pdf-badge {
  font-size: 14px !important;
}
